.departments
{
    position: relative;
    display: grid;
    min-height: 500px;
    background: var(--white);
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
    border-radius: 20px;
}

.departments h2
{
    color: var(--blue);
    text-align: center;
}

.departmentheader 
{
    color: var(--blue);
    font-size: 20px;
}

.departments table, thead, td
{
    border-collapse:collapse;
    border-bottom: 1px solid var(--black2);
}

.departments table tbody
{
    color: var(--black3);
}