<div class="container">
  <div class="navigation" *ngIf="isLoggedIn">
    <ul>
      <li><a routerLink="departments" *ngIf="isLoggedIn">Departments</a></li>
      <li><a routerLink="examinations" *ngIf="isLoggedIn">Examinations</a></li>
      <li><a routerLink="results" *ngIf="isLoggedIn">Results</a></li>
      <li><a routerLink="/logout" *ngIf="isLoggedIn" (click)=handleLogout()>Logout</a></li>
    </ul>
  </div>
  <div class="banner">
    <h2>Best Engineering College</h2>
  </div>
  <div class="main">
    <router-outlet></router-outlet>
  </div>
</div>