<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Best Engineering College</title>
</head>

<body>
  <div class="container">
    <div class="navigation">
      <ul>
        <li><a routerLink="departments">Departments</a></li>
        <li><a routerLink="examinations">Examinations</a></li>
        <li><a routerLink="results">Results</a></li>
      </ul>
    </div>
    <div class="main">
      <div class="banner">
        <h2>Best Engineering College</h2>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</body>
</html>